div.main {
  position: relative;
  text-align: center;
  top: 175px;

  }

#search-bar {
    position: relative;
    margin-top: 20px;
}

.button {
    background-color: #f2f2f2;
    padding: 10px;
    
}

#search-button {
    position: relative;
    top: 20px;
    right: 7px;
}

#feeling-lucky {
    position: relative;
    top: 20px;
    left: 7px;
}